[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dkDNA"]
	path = dkDNA
	url = https://github.com/morota/dkdna
	shallow = true
	registered = true
